
@{
    ViewBag.Title = "Experts";
}

    <div class="info-container container">
        <div class="info">
            <div class="container">
                <h2 class="info__title">Несколько причин для покупи платных и профессиональных прогнозов</h2>
                <ul>
                    <li>Вы часто проигрывайте у букмекеров и хотите заработать,</li>
                    <li>Если у ваши разборы игр и спортивная аналитика не приносит результата, а главное прибыли,</li>
                    <li>Вы располагайте свободным запасом денег, что позволяет вам играть комфортно, вы не лудоманите и не ставите последние средства,</li>
                    <li>За выигрышные скриншоты многие дарят бесплатно еще один.</li>
                </ul>
            </div>

        </div>
        <p class="big-text">Достоверно известный факт: ТОЛЬКО 2% игроков получают стабильный доход от ставок на спорт!</p>
        <p>Зарабатывать у букмекеров непросто, но если собирается опытные люди, то на дистанции - увеличить свой капитал дело времени, поэтому мы предлагаем приобрести точные прогнозы с гарантией хорошего разбора и полным анализом предстоящего матча.</p>
        <p>Платная аналитика на спорт (футбол, хоккей, теннис...) от профессиональных капперов - это верный способ приумножить свои деньги, если вы увлекайтесь игрой на спортивных событиях. Каждый сервис имеет по много лет успешной работы слаженной команды прогнозистов, это дает нам преимущество перед любым букмекеров.</p>
        <p>Они каждый день анализируют перспективные футбольные и хоккейные битвы, теннисные баталии и дают самые верные исходы из всех возможных. Почему? Для них важна профессиональная репутация, поэтому любое из купленных вами событий составлено как для себя. Выигрываем сами и помогаем другим поднять денег!</p>
        <div class="why">
            <div class="wrapper">
                <h2 class="why__title">Почему многие покупатели становятся постоянными клиентами?</h2>
                <ul class="why-items">
                    <li class="why__item-1">К ним возвращаются, чтобы покупать снова и снова. Это команды экспертов, которые много раз побеждали в крупных турнирах и конкурсах прогнозистов в интернете! Они сами успешно ставят не один год.</li>
                    <li class="why__item-2">Реальные отзывы, залог успешной работы и бизнеса. Вы можете ознакомиться с сотней скриншотов выигрышей в бк и видео-отзывами. Конечно же, есть и негативные отклики покупателей, что помогает делать сервисы капперов и качество лучше.</li>
                    <li class="why__item-3">Только полная и открытая статистика! Читайте, анализируйте отчеты и получайте прибыль с нашими экспертами.</li>
                </ul>
            </div>
        </div>
    </div>



