
@{
    ViewBag.Title = "Prognoz";
}

    <div class="prognozBox">

        <div class="container">

            <div class="tab-content prognozTabs">
                <div class="tab-pane active show row">
                    <div class="prognozCard col-lg-4 col-md-6 col-xs-12 col-sm-12">
                        <div class="card prognoz-product-card text-center">
                            <div class="card-header">
                                <span class="title">Ординар</span>
                                <span class="priceOld phide">0 <small>p.</small>  </span>
                                <span class="price">150 <small>грн.</small> </span>
                                
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Проходимость: <strong>90%</strong>   </li>
                                    <li>Средний коэффициент: <strong>1.6 - 2.00</strong> </li>
                                    <li>Рассылка Instagram: <strong>Да</strong> </li>
                                </ul>

                            </div>
                            <div class="card-footer">
                                <a class="btn btn-yellow noRegBuy" href="#">Купить</a>

                            </div>

                        </div>
                    </div>

                    <div class="prognozCard col-lg-4 col-md-6 col-xs-12 col-sm-12">
                        <div class="card prognoz-product-card text-center">
                            <div class="card-header">
                                <span class="title">Экспрес</span>
                                <span class="priceOld phide">7960 <small>р.</small></span>
                                <span class="price">250 <small>грн.</small> </span>

                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Проходимость: <strong>75-85%</strong>   </li>
                                    <li>Средний коэффициент: <strong>2.2-3.5</strong> </li>
                                    <li>Рассылка Instagram: <strong>Да</strong> </li>
                                </ul>

                            </div>
                            <div class="card-footer">
                                <a class="btn btn-yellow noRegBuy" href="#">Купить</a>

                            </div>

                        </div>
                    </div>

                    <div class="prognozCard col-lg-4 col-md-6 col-xs-12 col-sm-12">
                        <div class="card prognoz-product-card text-center">
                            <div class="card-header">
                                <span class="title">Экспрес 2х</span>
                                <span class="priceOld phide">23880 <small>р.</small></span>
                                <span class="price">400 <small>грн.</small> </span>

                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Проходимость: <strong>78-86%</strong>   </li>
                                    <li>Средний коэффициент: <strong>3.5-5.00</strong> </li>
                                    <li>Рассылка Instagram: <strong>Да</strong> </li>
                                </ul>

                            </div>
                            <div class="card-footer">
                                <a class="btn btn-yellow noRegBuy" href="#">Купить</a>

                            </div>

                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>

