
@{
    ViewBag.Title = "VIPPrognoz";
}

<div class="prognozBox">
    
    <div class="container">

        <div class="tab-content prognozTabs">
            <div class="tab-pane active show row">
                <div class="prognozCard col-lg-4 col-md-6 col-xs-12 col-sm-12">
                    <div class="card prognoz-product-card text-center">
                        <div class="card-header">
                            <span class="vip-title"><img src="~/Icons/crown.svg" alt="Alternate Text" style="height:30px;width:30px;margin-bottom: 5px;" /> VIP на неделю</span>
                            <span class="priceOld phide">23880 <small>р.</small></span>
                            <span class="price">700 <small>грн.</small> </span>

                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Проходимость: <strong>85-90%</strong>   </li>
                                <li>Средний коэффициент: <strong>3-8.00</strong> </li>
                                <li>Рассылка Instagram: <strong>Да</strong> </li>
                                <li><strong>2 экспреса каждый день</strong></li>
                            </ul>

                        </div>
                        <div class="card-footer">
                            <a class="btn btn-yellow noRegBuy" href="#">Купить</a>

                        </div>

                    </div>
                </div>
                <div class="prognozCard col-lg-4 col-md-6 col-xs-12 col-sm-12">
                    <div class="card prognoz-product-card text-center">
                        <div class="card-header">
                            <span class="vip-title"><img src="~/Icons/crown.svg" alt="Alternate Text" style="height:30px;width:30px;margin-bottom: 5px;" /> VIP на 3 недели</span>
                            <span class="priceOld phide">23880 <small>р.</small></span>
                            <span class="price">1000 <small>грн.</small> </span>

                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Проходимость: <strong>85-90%</strong>   </li>
                                <li>Средний коэффициент: <strong>3-8.00</strong> </li>
                                <li>Рассылка Instagram: <strong>Да</strong> </li>
                                <li><strong>2 экспреса каждый день</strong></li>
                            </ul>

                        </div>
                        <div class="card-footer">
                            <a class="btn btn-yellow noRegBuy" href="#">Купить</a>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

