/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
}


@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin: 0;
    /* font:normal 75% Arial, Helvetica, sans-serif;  */
    font-family: 'Roboto', sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#register-box {
    position: absolute;
    top: 20%;
    left: 34.375%;
    border-radius: 1px;
    padding: 20px;
    width: 500px;
    height: 300px;
    background-color: white;
}

    #register-box div {
        display: inline;
        float: left;
    }

.reg-box-list {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    list-style-type: none;
}

    .reg-box-list li {
        display: block;
        height: 67px;
    }

.buttons-box {
    margin-left: 48px;
    
}

    .buttons-box button {
        margin: 5px;
    }